<link href="./../app.css" rel="stylesheet">
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form class="login100-form validate-form flex-sb flex-w" ng-controller="CadastroCtrl">
					<span class="login100-form-title p-b-51">
						Cadastro
					</span>

                <div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
                    <input class="input100" type="text" ng-model="user.name" name="name" placeholder="Nome" required="required">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                    <input class="input100" type="text" ng-model="user.cpf" name="cpf" placeholder="CPF" required="required" pattern="[0-9]{11}">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                    <input class="input100" type="text" ng-model="user.phone" name="phone" placeholder="Telefone">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                    <input class="input100" type="text" ng-model="user.address" name="address" placeholder="Endereço">
                    <span class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" ng-click="criar()">
                        Criar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>